<div class="modal-header">
  <h5 class="modal-title" [innerHtml]="title"></h5>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Are you ready to send out this transfer?</p>
  <div>
    <label><b>It will be send to account:</b></label>
    <p class="modal-data">{{data.toAccount}}</p>
  </div>
  <div>
    <label><b>With amount of:</b></label>
    <p class="modal-data">{{data.amount}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
  <button type="button" class="btn transfer-btn" (click)="sendTransfer('send')">Send transfer</button>
</div>
