* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14px;
  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 10px;
  }
}


.close {
background-color: white;
border: none;
font-size: 20px;
cursor: pointer;
}

.credit {
  color: green;
}

.debit {
  color: red;
}

