* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button{
  background-color: orange;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 2px;
}

