app-transaction-item {
  display: flex;
  align-items: center;
}

.transaction-item{
  max-height: 385px;
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .row{
    padding: 10px 0px;
    box-shadow: 0px 1px 1px lightgrey;
  }
}

#transactionColour{
  min-height: 60px;
}
#transactionDate{
width: 20%;
text-align: center;
}
.merchant-details{
  width: 30%;
}
#transactionAmount {
  width: 50%;
  text-align: right;
}

.no-transaction {
  text-align: center;
  padding: 20px;
  color: #00a1e0;
}
